.settings,
.settings-active {
  width: 100%;
  height: 40px;
  right: 0;
  color: #d6d7d9;
  transition: 0.5s ease;
}

.settings-button,
.settings-button-pressed {
  transition: 0.3s ease-in;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.settings-button {
  scale: 1;
}

.settings-button-pressed {
  scale: 0.9;
}
